// src/assets/styles/_variables.scss

// 색상 정의
$primary-color: #42b983; // Vue Green
$accent-color: #6a0dad; // Deep Purple
$background-color: #f0f2f5; // Light Gray Background

// 사이드바 색상
$sidebar-bg-color: #2c3e50; // Dark Blue/Gray
$sidebar-text-color: #ecf0f1; // Light Gray